/* Tags */
body {
  background-color: #fff;
  color: #777;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: justify;
  line-height: 22px;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

section h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 75px;
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin';
}

nav {
  line-height: 22px;
}

b {
  color: #4A4B4C;
}

a, a:hover, a:focus, a > b {
  color: #1cd3d1;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  outline: none;
}

hr {
  height: 1px;
  background-color: #EEEFF0;
  border: 0;
  border-top: 1px solid #eee;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Classes */
/* Label text */
 .input-field label {
   color: #777;
 }
 /* Label text focus */
 .input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field textarea:focus:not([readonly]) + label {
   color: #1cd3d1;
 }
 /* Input underline focus */
 .input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field textarea:focus:not([readonly]) {
   border-bottom: 1px solid #1cd3d1;
   box-shadow: 0 1px 0 0 #1cd3d1;
 }
 /* Icon prefix focus */
 .input-field .prefix.active {
   color: #1cd3d1;
 }

.parallax-container {
  height: 50vh;
}

.portfolio-img, .portfolio-img.active {
  cursor: pointer;
  transition: opacity 1s ease;
}

.portfolio-img-container {
  position: relative;
}

.portfolio-img-container > i {
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 45px);
  z-index: 1;
  opacity: 0.45;
  color: #fff;
  cursor: pointer;
  transition: opacity 1s ease;
}

.portfolio-img-container:hover > i {
  opacity: 0.7;
}

.portfolio-img-container > i:hover {
  opacity: 0.95;
}

.portfolio-img-container > i:hover ~ div > .portfolio-img {
  opacity: 0.8;
}

.flippable {
  backface-visibility: hidden;
}

/* IDs */
#video-player {
  display: block;
  position: fixed;
  z-index: 1002;
  opacity: 0;
  transition: opacity 2s ease;
}

#video-player-spinner {
  position: fixed;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  z-index: 1001;
  opacity: 1;
  transition: opacity 1s ease;
}

#video-player-spinner.hidden {
  z-index: -1;
  opacity: 0;
}

#video-player-spinner > .spinner-layer {
  border-color: #fff;
}

#hero-container {
  position: relative;
  width: 100%;
  height: 95vh;
  min-height: 95vh;
  animation: fade-in 2s;
}

#hero-img {
  max-width: 75%;
  max-height: 50%;
  margin: 0 auto;
  flex: 0 0 auto;
  object-fit: scale-down;
}

#hero-scroll-container {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 5%;
}

#hero-scroll, #footer-scroll {
  border-radius: 50%;
  font-size: 24px;
  text-decoration: none;
  transition: background 0.3s ease;
}

#hero-scroll > i, #footer-scroll > i {
  font-size: 60px;
}

#hero-scroll:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Alternate sections */
#sections-container > section:nth-child(odd) {
  background-color: #eee;
}

#contact-section {
  padding-bottom: 50px;
}

#contact-info-container {
  line-height: 50px;
  margin-bottom: 25px;
}

#contact-info-name {
  margin-top: 0;
  margin-bottom: 0;
}

#contact-info-email {
  font-size: 16px;
}

#social-buttons-container {
  margin-top: 50px;
  font-size: 35px;
}

#social-buttons-container > a {
  color: #ccc;
  transition: color 0.3s ease;
  margin: 0 2px;
}

#social-buttons-container > a:hover {
  color: #1cd3d1;
}

#footer {
  display: block;
  height: 140px;
  background-color: #363636;
  color: #eee;
  font-size: 12px;
}

#footer a, #footer b {
  color: #eee;
}

#footer > .container {
  padding: 20px 0;
  margin: 0 auto;
}

#footer > .container > #footer-scroll {
  margin-bottom: 5px;
  color: #1cd3d1;
}

#footer-scroll:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Animations */
@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Media queries */
/* Small */
@media (max-width:992px) {
  #contact-form-submit {
    display: block;
    width: 100%;
  }

  #contact-form-message-container, #contact-form-message-container i {
    font-size: 28px;
  }
}

/* Large */
@media (min-width:993px) {
  #contact-form-message {
    min-height: 161px;
  }
}


